<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Tour Company Dashboard</title>
        <link rel="stylesheet" href="/global.css" />
        <link rel="stylesheet" href="/booking.css" />
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
        />
        <link
            href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap"
            rel="stylesheet"
        />

        <link
            rel="stylesheet"
            href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
            integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU"
            crossorigin="anonymous"
        />
        <link
            rel="stylesheet"
            href="https://unpkg.com/tailwindcss@2.2.19/dist/tailwind.min.css"
        />
        <!--Replace with your tailwind.css once created-->
        <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/chartist.js/latest/chartist.min.css"
        />
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css"
        />
        <link rel="stylesheet" href="/staff.css" />
        <script src="https://cdn.tailwindcss.com"></script>
        <script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
        <script src="/tour.js"></script>
        <style>
            .nunito {
                font-family: "nunito", font-sans;
            }

            .border-b-1 {
                border-bottom-width: 1px;
            }

            .border-l-1 {
                border-left-width: 1px;
            }

            hover\:border-none:hover {
                border-style: none;
            }

            #sidebar {
                transition: ease-in-out all 0.3s;
                z-index: 9999;
            }

            #sidebar span {
                opacity: 0;
                position: absolute;
                transition: ease-in-out all 0.1s;
            }

            #sidebar:hover {
                width: 150px;
                box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
                /*shadow-2xl*/
            }

            #sidebar:hover span {
                opacity: 1;
            }
        </style>
    </head>
    <body>
        <div id="message"></div>
        <section class="nav">
            <div class="logo">
                <a href="/"><img src="/assets/logo.png" alt="" /></a>
            </div>
            <div class="text">
                <ul>
                    <li><a href="/programs">PROGRAMS</a></li>
                    <li><a href="/companies">TOUR COMPANIES</a></li>
                    <li><a href="/booking">BOOKING</a></li>
                    <li><a href="/logout">LOG OUT</a></li>
                </ul>
                <a href="/contact"><button><i class="fa-solid fa-phone"></i> 1-866-393-5158</button></a>
            </div>
        </section>
        <section class="sub-nav">
            <h1><%=company.tour_company%></h1>
            <h1><%=company.tour_company_address%></h1>
            <h1><%=company.tour_company_desc%> <a href="/session/tour/manage_profile"><i class="fa fa-pencil" aria-hidden="true"></i></a></h1>
        </section>
        <section class="flex bg-gray-100 font-sans">
            <main style="width: 100%;">
                <h2 style="text-align: center">Payments</h2>
                <form id="form1">
                    <table>
                        <thead>
                            <tr>
                                <th>Payment ID</th>
                                <th>Statement Date</th>
                                <th>Payment Method</th>
                                <th>Credit</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <td></td>
                                <td><input type="date" name="statement_date"></td>
                                <td><input type="text" name="payment_method_id"></td>
                                <td>
                                    Y <input type="radio" name="credit" value="1">
                                    N <input type="radio" name="credit" value="0">
                                </td>
                                <td><input type="submit" value="Create"></td>
                            </tr>
                        </tfoot>
                        <tbody>
                            <% payments.forEach((e)=>{ %>
                            <tr>
                                <td><%=e.payment_id%></td>
                                <td><%=e.statement_date%></td>
                                <td><%=e.payment_method_id%></td>
                                <td><%= e.credit == 0 ? 'False' : 'True'%></td>
                                <td>
                                    <a href="/session/tour/manage_vouchers/<%=e.payment_id%>">Edit</a>
                                    <a href="javascript: cancel(<%=e.payment_id%>)">Cancel</a>
                                </td>
                            </tr>
                            <% }); %>
                        </tbody>
                    </table>
                </form>
            </main>
        </section>

        <section class="footer">
            <div class="section1">
                <div>Information</div>
                <div>News</div>
                <div>About Us</div>
                <div>Investor Relations</div>
                <div>Private Policy</div>
                <div>Terms and Conditions</div>
            </div>
            <div class="section2">
                <div>CONTACT US</div>
                <div class="number">1-877-344-3385</div>
                <div>Canada 1-866-793-1905</div>
                <div>United Kindom 0-800-680-0420</div>
                <div>Mexico 01-800-727-5391</div>
                <div>Dominican Republic 1-88-751-9005</div>
                <div>United States 1-866-393-5158</div>
                <div>Contact Us</div>
                <div>PARTNERS:</div>
                <span
                    ><img src="/assets/dd-logo.png" alt="" />
                    <img src="/assets/dc-logo.png" alt=""
                /></span>
            </div>
        </section>
    </body>
</html>
